<%- include('includes/head') %>
<body>
    <%- include('includes/navbar') %>
    
    <div class="container">
        <hr>
        <h2><%= pergunta.titulo %></h2>
        <p><%= pergunta.descricao %></p>
        <hr>
    </div>

</body>
<%- include('includes/footer') %>
