<%- include('../../includes/header') %>
<%- include('../../includes/navbar') %>

<div class="container">
    <hr>
    <h2>Usuários</h2>
    <br>
    <a href="/admin/users/create" class="btn btn-primary">Criar novo usuário</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../../includes/footer') %>