<%- include('includes/header') %>
<%- include('includes/homenavbar') %>

<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h2 class="display-4">Bem-vindo!</h2>
            <p class="lead">Este é um blog aleatório para aprendizado.</p>
            <hr>
            <p>Descrição bem daora</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
        </div>
        <br>

        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>

                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <a href="/articles/page/2" style="float: right;">Next >>></a>
            </div>
            <hr>
        </div>
        <hr>
    </div>
</body>

<%- include('includes/footer') %>